api_base_path:
  path: '/'

api_admin_login:
  path: admin_login

api_user_login:
  path: user_login

post_auth_token_exchange:
  path: '/token/exchange'
  methods: ['POST', 'GET']
  defaults:
    _controller: Controller\Auth\TokenExchangeAction
    _api_resource_class: 'Model\Token'
    _api_item_operation_name: 'post_auth_token_exchange'
    _api_receive: false

###############################
## Refresh JWT Token
###############################
gesdinet_jwt_refresh_token:
  path: '/token/refresh'
  defaults: { _controller: gesdinet.jwtrefreshtoken:refresh }

###############################
## Custom routes
###############################
get_my_dasboard:
  path: '/my/dashboard'
  methods: ['GET']
  defaults:
    _controller: Controller\My\DashboardAction
    _api_resource_class: 'Model\Dashboard\Dashboard'
    _api_item_operation_name: 'get_my_dasboard'
    _api_receive: false

# required for IRI generation
get_my_dasboard_client:
  path: '/my/dashboard_client'
  methods: []
  defaults:
    _api_resource_class: 'Model\Dashboard\DashboardClient'
    _api_item_operation_name: 'get_my_dasboard_client'

# required for IRI generation
get_my_dasboard_user:
  path: '/my/dashboard_user'
  methods: []
  defaults:
    _api_resource_class: 'Model\Dashboard\DashboardUser'
    _api_item_operation_name: 'get_my_dasboard_user'

# required for IRI generation
get_my_dasboard_retail:
  path: '/my/dashboard_retail'
  methods: []
  defaults:
    _api_resource_class: 'Model\Dashboard\DashboardRetailAccount'
    _api_item_operation_name: 'get_my_dasboard_retail'

# required for IRI generation
get_my_dasboard_residential:
  path: '/my/dashboard_residential_retail'
  methods: []
  defaults:
    _api_resource_class: 'Model\Dashboard\DashboardResidentialDevice'
    _api_item_operation_name: 'get_my_dasboard_residential'

# required for IRI generation
get_my_dasboard_billable_call:
  path: '/my/dashboard_billable_call'
  methods: []
  defaults:
    _api_resource_class: 'Model\Dashboard\DashboardBillableCall'
    _api_item_operation_name: 'get_my_dasboard_billable_call'
    
get_my_rating_plan_prices:
  path: '/rating_plan_groups/{id}/prices'
  methods: ['GET']
  defaults:
    _controller: Controller\Provider\RatingPlanPricesAction
    _api_resource_class: 'Model\RatingPlanPrices'
    _api_collection_operation_name: 'get_my_rating_plan_prices'
    _api_receive: false

get_my_active_calls:
  path: '/my/active_calls'
  methods: ['GET']
  defaults:
    _controller: Controller\My\ActiveCallsAction
    _api_resource_class: 'Model\ActiveCalls'
    _api_item_operation_name: 'get_my_active_calls'
    _api_receive: false

get_my_active_calls_realtime_filter:
  path: '/my/active_calls/realtime_filter'
  methods: ['GET']
  defaults:
    _controller: Controller\My\ActiveCallsRealtimeFilterAction
    _api_item_operation_name: 'get_my_active_calls_realtime_filter'
    _api_receive: false

get_my_profile:
  path: '/my/profile'
  methods: ['GET']
  defaults:
    _controller: Controller\My\ProfileAction
    _api_resource_class: 'Model\Profile'
    _api_item_operation_name: 'get_my_profile'
    _api_receive: false

get_my_theme:
  path: '/my/theme'
  methods: ['GET']
  defaults:
    _controller: Controller\My\WebThemeAction
    _api_resource_class: 'Ivoz\Provider\Domain\Model\WebPortal\WebTheme'
    _api_item_operation_name: 'get_my_theme'
    _api_receive: false

get_my_logo:
  path: '/my/logo/{id}/{name}'
  methods: ['GET']
  defaults:
    _controller: Controller\My\LogoAction
    _api_item_operation_name: 'get_my_logo'
    _api_receive: false

# fake endpoint, required in serialization by api-platform in order to calculate it's iri
get_my_profile_acl:
  path: '/my/profile/acls'
  methods: ['GET']
  defaults:
    _api_resource_class: 'Model\ProfileAcl'
    _api_item_operation_name: 'get_my_profile_acl'

get_services_unassigned:
  path: '/services/unassigned'
  methods: ['GET']
  defaults:
    _controller: Controller\Provider\ServicesUnassignedAction
    _api_resource_class: 'Ivoz\Provider\Domain\Model\Service\Service'
    _api_collection_operation_name: 'get_services_unassigned'
    _api_receive: false

get_terminals_unassigned:
  path: '/terminals/unassigned'
  methods: ['GET']
  defaults:
    _controller: Controller\Provider\TerminalsUnassignedAction
    _api_resource_class: 'Ivoz\Provider\Domain\Model\Terminal\Terminal'
    _api_collection_operation_name: 'get_terminals_unassigned'
    _api_receive: false

get_extensions_unassigned:
  path: '/extensions/unassigned'
  methods: ['GET']
  defaults:
    _controller: Controller\Provider\ExtensionsUnassignedAction
    _api_resource_class: 'Ivoz\Provider\Domain\Model\Terminal\Terminal'
    _api_collection_operation_name: 'get_extensions_unassigned'
    _api_receive: false

get_hunt_group_users_available:
  path: '/hunt_groups/{id}/users_available'
  methods: [ 'GET' ]
  defaults:
    _controller: Controller\Provider\HuntGroupUsersAvailableAction
    _api_resource_class: 'Ivoz\Provider\Domain\Model\User\User'
    _api_collection_operation_name: 'get_hunt_group_users_available'
    _api_receive: false

post_extensions_mass_import:
  path: '/extensions/mass_import'
  methods: ['POST', 'GET']
  defaults:
    _controller: Controller\Provider\PostExtensionsMassImportAction
    _api_resource_class: 'Model\ExtensionsMassImport'
    _api_item_operation_name: 'post_extensions_mass_import'
    _api_collection_operation_name: 'post_extensions_mass_import'
    _api_receive: false

post_holiday_dates_range:
  path: '/holiday_dates_range'
  methods: [ 'POST' ]
  defaults:
    _controller: Controller\Provider\CreateHolidayDatesAction
    _api_resource_class: 'Ivoz\Provider\Domain\Model\HolidayDate\HolidayDateRange'
    _api_collection_operation_name: 'post_holiday_dates_range'
    _api_receive: false

get_multiple_recorderded_files:
  path: '/recordings/recorded_files_zip'
  methods: [ 'GET' ]
  defaults:
    _controller: Controller\Provider\RecordedFilesZipAction
    _api_resource_class: 'Ivoz\Provider\Domain\Model\Recording\Recording'
    _api_collection_operation_name: 'get_multiple_recorderded_files'

get_companies_corporate_unassigned:
  path: '/companies/corporate/unassigned'
  methods: ['GET']
  defaults:
    _controller: Controller\Provider\CompaniesByCorporateUnassignedAction
    _api_resource_class: 'Ivoz\Provider\Domain\Model\Company\Company'
    _api_collection_operation_name: 'get_companies_corporate_unassigned'
    _api_receive: false

post_rating_profiles_simulate_call:
  path: '/rating_profiles/{id}/simulate_call'
  methods: ['POST']
  defaults:
    _controller: Controller\Provider\SimulateCall\SimulateCallRatingProfileAction
    _api_item_operation_name: 'post_rating_profiles_simulate_call'
    _api_receive: false

post_holidays_dates_mass_import:
  path: '/holiday_dates/mass_import'
  methods: ['POST', 'GET']
  defaults:
    _controller: Controller\Provider\PostHolidaysMassImportAction
    _api_resource_class: 'Model\HolidaysMassImport'
    _api_item_operation_name: 'post_holidays_dates_mass_import'
    _api_collection_operation_name: 'post_holidays_dates_mass_import'
    _api_receive: false

post_fax_resend:
  path: '/faxes_in_outs/{id}/resend'
  methods: ['POST']
  defaults:
    _controller: Controller\Provider\PostFaxResendAction
    _api_receive: false

get_users_detailed:
  path: '/users/detailed'
  methods: ['GET']

###############################
## Balance Top-Up Routes
###############################

get_balance:
  path: '/balance'
  methods: ['GET']
  defaults:
    _controller: Controller\BalanceTopUp\GetBalanceAction
    _api_resource_class: 'Model\Balance'
    _api_item_operation_name: 'get_balance'
    _api_receive: false

post_balance_topup:
  path: '/balance/topup'
  methods: ['POST']
  defaults:
    _controller: Controller\BalanceTopUp\TopUpAction
    _api_resource_class: 'Model\TopUpResult'
    _api_collection_operation_name: 'post_balance_topup'
    _api_receive: false

get_balance_history:
  path: '/balance/history'
  methods: ['GET']
  defaults:
    _controller: Controller\BalanceTopUp\GetHistoryAction
    _api_resource_class: 'Model\TransactionHistory'
    _api_collection_operation_name: 'get_balance_history'
    _api_receive: false

###############################
## DID Marketplace Routes
###############################

# Browse available DIDs with filtering and pagination
get_dids_marketplace:
  path: '/dids/marketplace'
  methods: ['GET']
  defaults:
    _controller: Controller\Provider\GetDidMarketplaceAction
    _api_receive: false

# Get countries with available DIDs
get_dids_marketplace_countries:
  path: '/dids/marketplace/countries'
  methods: ['GET']
  defaults:
    _controller: Controller\Provider\GetDidMarketplaceCountriesAction
    _api_receive: false

# Get single available DID details
get_dids_marketplace_item:
  path: '/dids/marketplace/{id}'
  methods: ['GET']
  defaults:
    _controller: Controller\Provider\GetDidMarketplaceItemAction
    _api_receive: false
  requirements:
    id: '\d+'

###############################
## DID Purchase Routes
###############################

# Preview DID purchase costs (balance check)
post_dids_purchase_preview:
  path: '/dids/purchase/preview'
  methods: ['POST']
  defaults:
    _controller: Controller\DidPurchase\PurchasePreviewAction
    _api_receive: false

# Execute DID purchase
post_dids_purchase:
  path: '/dids/purchase'
  methods: ['POST']
  defaults:
    _controller: Controller\DidPurchase\PurchaseAction
    _api_receive: false

# Get customer's purchased DIDs
get_my_dids:
  path: '/dids/my-dids'
  methods: ['GET']
  defaults:
    _controller: Controller\DidPurchase\GetMyDidsAction
    _api_receive: false

###############################
## DID Order Routes (Postpaid)
###############################

# Create a DID order (postpaid customers)
post_did_order:
  path: '/did-orders'
  methods: ['POST']
  defaults:
    _controller: Controller\DidOrder\CreateOrderAction
    _api_receive: false

# List customer's DID orders
get_did_orders:
  path: '/did-orders'
  methods: ['GET']
  defaults:
    _controller: Controller\DidOrder\GetOrdersAction
    _api_receive: false

# Get single order details
get_did_order:
  path: '/did-orders/{id}'
  methods: ['GET']
  defaults:
    _controller: Controller\DidOrder\GetOrderAction
    _api_receive: false
  requirements:
    id: '\d+'

###############################
## DID Release Routes
###############################

# Release a DID back to marketplace (customer-initiated)
post_dids_release:
  path: '/dids/release'
  methods: ['POST']
  defaults:
    _controller: Controller\DidRelease\ReleaseDidAction
    _api_receive: false
